---
// Intro loader — NK monogram mask reveal, then the panel slides away.
// Keyframes ported verbatim from the crawled embed; reduced-motion hides it via global.css.
---

<div class="loader">
  <div class="logo-back w-embed">
    <svg width="252" height="157" viewBox="0 0 252 157" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M32.0432 88.7887C57.1416 45.4654 77.625 10.8194 82.529 5.15346C85.3665 1.89031 88.6323 -0.974124 92.8189 0.316446C107.895 4.96459 100.539 25.0052 99.1364 29.8527C94.7891 44.9198 91.5447 60.2702 87.4759 75.4108C83.4392 90.457 86.0732 82.4617 80.1199 106.374C77.6036 116.489 76.0938 122.071 77.2717 122.564C78.7493 123.183 83.1287 115.314 90.731 103.898C96.3417 95.4724 100.71 89.6805 109.437 78.1074C117.05 68.0032 129.77 51.2887 148.798 33.0843C160.501 21.8889 173.735 10.9348 189.069 4.80721C193.833 2.90808 199.508 2.23656 203.963 4.76524C209.413 7.871 211.351 15.0268 209.959 21.06C207.014 33.8713 193.277 47.0288 185.085 57.07C171.401 73.8474 174.057 71.6335 153.53 98.8299C141.099 115.314 133.336 128.859 134.289 129.72C135.328 130.653 146.753 118.965 150.211 115.639C160.137 106.122 161.165 104.758 171.615 94.4756C189.593 76.7853 184.057 81.4964 193.705 72.9136C196.724 70.2276 205.205 62.5681 211.811 68.1815C213.589 69.6924 215.741 71.9588 216.844 75.2954C218.493 80.3003 204.605 90.0268 201.725 92.8178C193.116 101.159 174.1 120.791 179.025 131.147C185.417 144.608 215.248 139.016 225.87 136.676C230.132 135.732 243.056 131.965 248.881 133.906C261.933 138.261 230.614 150.264 217.733 153.002C207.164 155.248 201.586 155.342 192.891 154.86C187.591 154.566 179.775 153.81 170.555 146.927C161.807 140.39 160.597 137.012 156.775 136.907C151.282 136.76 137.276 149.246 131.858 153.013C127.629 155.951 123.035 157 117.853 157C95.5279 157 114.063 121.116 121.569 111.117C135.371 92.6919 148.316 74.2881 162.257 56.2831C180.278 33.0319 186.285 26.4111 185.3 25.5298C183.822 24.1972 169.335 38.5929 168.007 39.9359C156.218 51.8868 151.817 57.0595 132.544 81.1712C107.692 112.271 98.8687 128.177 97.4017 130.412C92.8832 137.295 87.1118 144.556 81.3405 150.736C76.9611 155.437 74.3592 155.814 68.2345 155.814C59.6364 155.814 56.5741 146.14 56.6597 134.179C56.7989 114.946 65.9645 86.8476 64.0051 85.9242C62.8594 85.3786 55.8674 93.6467 40.7056 117.548C35.0199 126.519 29.1415 138.386 23.1453 147.515C20.0187 152.278 17.6416 157.22 5.48862 156.287C-11.6862 154.964 15.4466 117.402 32.0325 88.7677L32.0432 88.7887Z" fill="#4e029e"/>
    </svg>
  </div>
  <div class="logo-front w-embed">
    <svg width="252" height="157" viewBox="0 0 252 157" fill="none" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <mask id="mask">
          <rect id="mask-rect" x="0" y="0" width="100%" height="100%" fill="#ffffff"/>
        </mask>
      </defs>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M32.0432 88.7887C57.1416 45.4654 77.625 10.8194 82.529 5.15346C85.3665 1.89031 88.6323 -0.974124 92.8189 0.316446C107.895 4.96459 100.539 25.0052 99.1364 29.8527C94.7891 44.9198 91.5447 60.2702 87.4759 75.4108C83.4392 90.457 86.0732 82.4617 80.1199 106.374C77.6036 116.489 76.0938 122.071 77.2717 122.564C78.7493 123.183 83.1287 115.314 90.731 103.898C96.3417 95.4724 100.71 89.6805 109.437 78.1074C117.05 68.0032 129.77 51.2887 148.798 33.0843C160.501 21.8889 173.735 10.9348 189.069 4.80721C193.833 2.90808 199.508 2.23656 203.963 4.76524C209.413 7.871 211.351 15.0268 209.959 21.06C207.014 33.8713 193.277 47.0288 185.085 57.07C171.401 73.8474 174.057 71.6335 153.53 98.8299C141.099 115.314 133.336 128.859 134.289 129.72C135.328 130.653 146.753 118.965 150.211 115.639C160.137 106.122 161.165 104.758 171.615 94.4756C189.593 76.7853 184.057 81.4964 193.705 72.9136C196.724 70.2276 205.205 62.5681 211.811 68.1815C213.589 69.6924 215.741 71.9588 216.844 75.2954C218.493 80.3003 204.605 90.0268 201.725 92.8178C193.116 101.159 174.1 120.791 179.025 131.147C185.417 144.608 215.248 139.016 225.87 136.676C230.132 135.732 243.056 131.965 248.881 133.906C261.933 138.261 230.614 150.264 217.733 153.002C207.164 155.248 201.586 155.342 192.891 154.86C187.591 154.566 179.775 153.81 170.555 146.927C161.807 140.39 160.597 137.012 156.775 136.907C151.282 136.76 137.276 149.246 131.858 153.013C127.629 155.951 123.035 157 117.853 157C95.5279 157 114.063 121.116 121.569 111.117C135.371 92.6919 148.316 74.2881 162.257 56.2831C180.278 33.0319 186.285 26.4111 185.3 25.5298C183.822 24.1972 169.335 38.5929 168.007 39.9359C156.218 51.8868 151.817 57.0595 132.544 81.1712C107.692 112.271 98.8687 128.177 97.4017 130.412C92.8832 137.295 87.1118 144.556 81.3405 150.736C76.9611 155.437 74.3592 155.814 68.2345 155.814C59.6364 155.814 56.5741 146.14 56.6597 134.179C56.7989 114.946 65.9645 86.8476 64.0051 85.9242C62.8594 85.3786 55.8674 93.6467 40.7056 117.548C35.0199 126.519 29.1415 138.386 23.1453 147.515C20.0187 152.278 17.6416 157.22 5.48862 156.287C-11.6862 154.964 15.4466 117.402 32.0325 88.7677L32.0432 88.7887Z" fill="#fff" mask="url(#mask)"/>
    </svg>
  </div>
</div>

<style is:global>
  @keyframes slideMask {
    0% { y: 100%; }
    100% { y: 0%; }
  }
  #mask-rect {
    animation: 2s ease 0s slideMask;
  }
  @keyframes moveLoader {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
  }
  .loader {
    /* fill-mode forwards keeps it off screen when finished */
    animation: 0.4s ease-in-out 2s 1 forwards moveLoader;
  }
</style>
